body{
  
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  margin: 0;
  background-color: black;
  color: white;
  overflow: auto;
}

.main{
  display: flex;
  height: 100vh;
  padding: 0.5rem;
}

.sidebar{
    background-color: rgb(0, 0, 0);
    width: 300px;
    border-radius: 1rem;
}

.main_containt{
   background-color: #461b1b;
   flex: 1;
   border-radius: 1rem;
   
}

.music_player{
    background-color: black;
    position: fixed;
    bottom: 0;
    height: 72px;
    width: 100%;
}

a{
    text-decoration: none;
    color: white;
}

.nav{
    background-color: #121212;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding: 0.5rem 0.75rem;
}

.nav-option{
    line-height: 2.5rem;
    opacity: 0.7;
    padding: 0.5rem 0.75rem;
}
.nav-option:hover{
    line-height: 2.5rem;
    opacity: 1;
}


.nav-option i {
    font-size: 1.25rem;
}

.nav-option a {
    font-size: 1rem;
    margin-left: 1rem;
}

.library{
    background-color: #121212;
    border-radius: 1rem;
    height: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem 0.75rem;
    
}

.options{
    display: flex;
    justify-content: space-between;
    align-items: center
}

.lib-option img {
    height: 1.25rem;
    width: 1.25rem;
    
}
.icons{
    font-size: 1.25rem;
    
    margin-right: 1rem;
    display: flex;
}
.icons i {
    opacity: 0.7;
    margin-right: 1rem;
    margin-left: 0.5rem;
}
